@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
}
.card {
  font-family: "Kumbh Sans", sans-serif;
  margin-top: 148px;
  margin-bottom: 85px;
  margin-left: 15px;
  margin-right: 30px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smallshedowsvg {
  margin-left: 200px;
}
.boxforanimations {
  margin-bottom: 10px;
}
svg {
  height: 643px;
  width: 327px;
  border-radius: 0px;
  margin-left: 65px;
  margin-top: -345px;
}
.boxfortexts {
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.textbox {
  height: 70px;
  width: 279px;
  left: 0px;
  border-radius: 0px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8ea;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
}
.textbox svg {
  margin: auto;
  padding-left: 240px;
  padding-top: -100px;
}

.showtext {
  display: none;
  height: auto;
  margin-bottom: 10px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
}
.active .showtext {
  display: block;
}
.bold {
  font-weight: bold;
}
.active .bold {
  display: block;
}

@media screen and (min-width: 980px) {
  .card {
    font-family: "Kumbh Sans", sans-serif;
    border-radius: 0px;
    background: #ffffff;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 509px;
    width: 920px;
    margin-left: 150px;
  }

  svg {
    margin-left: -250px;
    margin-top: 60px;
    height: 359px;
    width: 472px;
    border-radius: 0px;
  }
  .boxfortexts {
    margin-top: 65px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .active .showtext {
    display: block;
  }
  .bold {
    font-weight: bold;
  }
  .active .bold {
    display: block;
  }
}
